* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
body {
    /* background-color: #e5e5e5; */
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
/* @media only screen and (min-width: 600px) { */
/* @media screen and (min-width: 480px) {
    .col-ssm-1 {width: 8.33%;}
    .col-ssm-2 {width: 16.66%;}
    .col-ssm-3 {width: 25%;}
    .col-ssm-4 {width: 33.33%;}
    .col-ssm-5 {width: 41.66%;}
    .col-ssm-6 {width: 50%;}
    .col-ssm-7 {width: 58.33%;}
    .col-ssm-8 {width: 66.66%;}
    .col-ssm-9 {width: 75%;}
    .col-ssm-10 {width: 83.33%;}
    .col-ssm-11 {width: 91.66%;}
    .col-ssm-12 {width: 100%;}  
}
@media screen and (min-width: 480px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
} */
@media screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media screen and (min-width: 992px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .btn {
        width: 22%;
    }
}
@media screen and (max-width: 992px) {
    .btn {
        width: 30%;
    }
    #right-menubar p {
        margin: 15px 32px;
    }
    .sidebar a.icon {
        float: left;
        display: block;
    }
    .left-menubar {
        position: absolute;
        left: -999px;
    }
    .left-menubar.responsive {
        position: absolute;
        left: 0;
        transition: .5s;
        width: 200px;
        height: 100%;
        background-color: #FFF;
    }
}

/* Header */
.header {
    color: #4CAF50;
    padding: 20px 15px 5px;
}
.header a {
    text-align: center;
    text-decoration: none;
    color: #5F5F5F;
}
.header a:hover {
    color: #4CAF50;
}

/* Sidebar - menu ngang */
.sidebar {
    background-color: #5F5F5F;
    height: auto;
    font-weight: bold;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.sidebar li {
    float: left;
}
.sidebar a {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    color: white;
}
.sidebar a.active {
    background-color: #4CAF50;
}
.sidebar a:hover:not(.active) {
    background-color: #000;
    transition: .3s;
}
.sidebar .icon {
    display: none;
}

/* đính sidebar luôn hiện khi cuộn chuột */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* cột bên trái, ẩn khi weight < 992px */
.left-menubar {
    margin: 0;
    padding: 0;
}
.left-menubar a {
    /* color: rgb(130, 134, 136); */
    font-weight: bold;
    color: #000;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: 7px;
    margin: 0;
    border-bottom: 1px solid #DBDFDF;
}
.left-menubar a:hover {
    color: #4CAF50;
    /* background-color: #CCC; */
    transition: .3s;
}

/* nội dung chính */
#main {
    height: auto;
    display: block;
    background-color: white;
    /* cái này quan trọng, nội dung chính luôn chú ý để line-height: 1.5; cho dễ đọc */
    line-height: 1.5;
    padding: 10px;
}
#main h2 {
    color: white;
    background-color: #4CAF50;
    text-align: center;
    padding: 10px 32px;
}
#main p {
    margin: 10px;
}

/* Hiển thị bài học dạng lưới */
.content {
    display: block;
    margin: 15px;
}
.btn {
    background-color: #e5e5e5;
    border: 1px solid #4CAF50;
    border-radius: 3px;
    padding: 10px;
    margin: 1%;
}
.btn:hover, .btn:visited, .btn:active {
    color: white;
    background-color: #4CAF50;
    cursor: pointer;
    transition: .3s;
}

/* Hiển thị bài học dạng danh sách */
.lst {
    margin: 15px auto;
    max-width: 500px;
    width: 90%;
    padding: 15px 0;
    height: 500px;
    overflow: scroll;
    border: 1px solid #4CAF50;
}
.lst ul {
    list-style-type: none;
}
.lst li {
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 1px solid #4CAF50;
    border-radius: 5px;
}
.lst li:hover {
    box-shadow: 0 -2px 7px #4CAF50, 0 2px 7px #4CAF50, -2px 0 7px #4CAF50, 2px 0 7px #4CAF50;
    transition: .2s;
}
.lst a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

/* cột bên phải */
#right-menubar {
    height: auto;
}
#right-menubar h3 {
    display: block;
    color: #FFF;
    background-color: #3366FF;
    text-align: center;
    padding: 5px 0;
}
#right-menubar p {
    text-align: justify;
    font-size: 15px;
    padding: 3px;
}

/* footer bar */
.footer {
    color: #FFF;
    background-color: #616161;
    font-size: 12px;
    text-align: center;
    height: auto;
    padding: 5px 0;
}
.footer p {
    margin: 5px 25px;
}
.footer a {
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background-color: #616161;
}
.footer a:hover {
    color: #4CAF50;
}