* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
body {
    background-color: #e5e5e5;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
/* @media only screen and (min-width: 600px) { */
/* @media screen and (min-width: 480px) {
    .col-ssm-1 {width: 8.33%;}
    .col-ssm-2 {width: 16.66%;}
    .col-ssm-3 {width: 25%;}
    .col-ssm-4 {width: 33.33%;}
    .col-ssm-5 {width: 41.66%;}
    .col-ssm-6 {width: 50%;}
    .col-ssm-7 {width: 58.33%;}
    .col-ssm-8 {width: 66.66%;}
    .col-ssm-9 {width: 75%;}
    .col-ssm-10 {width: 83.33%;}
    .col-ssm-11 {width: 91.66%;}
    .col-ssm-12 {width: 100%;}  
}
@media screen and (min-width: 480px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
} */
@media screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media screen and (min-width: 992px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .btn {
        width: 22%;
    }
}
@media screen and (max-width: 992px) {
    #left-menubar {
        display: none;
    }
    .btn {
        width: 30%;
    }
}

/* Header */
.header {
    color: #4CAF50;
    padding: 20px 15px 5px;
}
.header a {
    text-align: center;
    text-decoration: none;
    color: #5F5F5F;
}
.header a:hover {
    color: #4CAF50;
}

/* Menu bar */
#sidebar {
    background-color: #5F5F5F;
    height: auto;
}
#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#sidebar li {
    float: left;
}
#sidebar a {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    color: white;
}
#sidebar a.active {
    background-color: #4CAF50;
}
#sidebar a:hover:not(.active) {
    background-color: #000;
    transition: .3s;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
#left-menubar {
    margin: 0;
    padding: 0;
}
#left-menubar h2 {
    text-align: center;
    border-bottom: 2px solid #4CAF50;
    padding: 15px 32px;
}
#left-menubar a {
    color: rgb(130, 134, 136);
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 16px;
    border-bottom: 1px solid #4CAF50;
}
#left-menubar a:hover {
    color: #4CAF50;
    background-color: #CCC;
    transition: .3s;
}
#main {
    height: auto;
    display: block;
}
#main h1 {
    display: block;
    color: white;
    background-color: #4CAF50;
    text-align: center;
    padding: 10px 32px;
}
.content {
    display: block;
    margin: 15px;
}
.btn {
    border: 1px solid #4CAF50;
    border-radius: 3px;
    padding: 10px;
    margin: 1%;
}
.btn:hover, .btn:visited, .btn:active {
    color: white;
    background-color: #4CAF50;
    cursor: pointer;
    transition: .3s;
}
#right-menubar {
    height: auto;
    border: 1px solid greenyellow;
}
.footer {
    border-top: 1px solid #666666;
    color: #666666;
    text-align: center;
    height: auto;
    padding: 5px 0;
}
.footer a {
    text-align: center;
    text-decoration: none;
    color: #666666;
}
.footer a:hover {
    color: #0033FF;
}